
/* Start of the styling for the header */
.header {
  background-color: #eeeeee;
  align-items: right;
  text-align: right;
}
.navbar-nav {
  margin-left: auto;
}

.nav-item-spacing {
  margin-right: 15px;
}
.nav-link-styles {
  text-decoration: none;
  color: #b06f6f;
  font-size: larger;
  font-family: "Cormorant", serif;
}
.nav-bar-logo {
  height: 1.75rem;
  width: 5rem;
  border: none;
  box-shadow: none;
  margin-right: auto;
}

.links-container {
  display: flex;
  align-items: center;
}

/* Start of the styling for the body section */

body {
  background-color: #eeeeee;
  cursor: url("./assests/cursor.png")  8 8,
  auto;
}

img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Start of the styling for About Us page */

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(2) {
  background-color: rgba(18, 17, 17, 0.811);
  color: rgba(221, 221, 2, 0.877);
}
section:nth-child(3) {
  background-color: rgb(122, 148, 122);
}

section:nth-child(4) {
  background-color: rgba(164, 152, 168, 0.932);
}
section:nth-child(5) {
  background-color: #9e6262;
}
section:nth-child(6) {
  background-color: rgba(57, 57, 57, 0.811);
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 80px;
  font-family: "Cormorant", serif;
}
section h2 {
  font-size: 65px;
  text-align: center;
  font-family: "Cormorant", serif;
  color: black;
  text-transform: uppercase;
}

section .cards {
  display: flex;
}

section .cards .text-card {
  background: #b06f6f00;
  font-family: "Cormorant", serif;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  margin-left: 14rem;
}
section .cards .text-card h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }
  section .cards {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Start of the styling for Footer*/
.footer-styles {
  text-align: center;
  font-size: 1rem;
  font-size: larger;
  max-height: 30px;
  line-height: 3.5rem;
}

.footer-logo {
  box-shadow: none;
  height: 5rem;
  margin-right: 3rem;
}
.footer-link-styling {
  text-decoration: none;
  margin-right: 3rem;
  color: rgb(73, 73, 73);
}
/* Start of the styling for Show page*/
.picture-section-container {
  height: 55rem;
}
.picture-section {
  height: 40rem;
  width: 40rem;
  margin: 0 auto;
  background-color: #b06f6f;
  margin-top: -40px;
  margin-left: 13rem;
  margin-bottom: 5rem;
  display: inline-block;
  text-align: right;
}

.container-show{
  display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-top: 6rem;
}

.details-section {
  text-align: center;
  font-size: 8rem;
  font-family: "Cormorant", serif;
  margin: 0 auto;
  margin-bottom: none;
}

.time-section {
  text-align: center;
  width: 15rem;
  height: 8rem;
  font-family: "Cormorant", serif;
  margin: 0 auto;
  background-color: aliceblue;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  display: inline-block;
}

.show-buttons {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin-bottom: 5rem;
}
.button {
  height: 3rem;
  width: 8rem;
  font-size: 16px;
  font-family: "Cormorant", serif;
  font-weight: bolder;
  background-color: #b06f6f;
  border: none;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover {
  background-color: #b06f6fbc;
  transition: 0.25s;
}

.ingredients-section {
  align-items: center;
  text-align: left;
  padding-left: 2rem;
  font-family: "Cormorant", serif;
  width: 30rem;
  height: 40rem;
  margin: 0 auto;
  margin-left: 5rem;
  margin-right: 20rem;
  margin-top: none;
  display: inline-block;
  font-size: 20px;
}

.instructions-section {
  align-items: center;
  padding-left: 2rem;
  border: 0.75px solid #bfbfbf;
  font-family: "Cormorant", serif;
  font-size: 20px;
  width: 65rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
}

#headers-show {
  font-size: 30px;
  margin-top: none;
}

/* Start of the styling for the home page */
.img-carousel {
  height: 45rem;
  width: 100%;
}

.carousel {
  background-color: #9e6262;
  width: 42rem;
  margin: 2rem 5rem auto;
  margin-left: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.carousel-caption{
  font-family:"Cormorant", serif; 
}

.index-section-styles {
  background-color: #b06f6f;
  border: none;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

.card-image-home:hover{
opacity: 1 ;
transition: .25s ease-in-out;
transform: scale(1.015);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home-title {
  margin-top: 15rem;
  color: #c99d78;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 5rem;
  border-top: 80px solid #b06f6f;
}

.home-index-container {
  background-color: #b06f6f;
  height: 60rem;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Start of the styles for the login feature */

.login-container {
  display: inline-block;
  height: 30rem;
  width: 20rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10rem;
  margin-top: 5rem;
  background-color: #eeeeee;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-page-top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.button-login{
  height: 3rem;
  width: 8rem;
  font-size: 17px;
  font-family: "Cormorant", serif;
  font-weight: bolder;
  background-color: #b06f6f;
  color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 10px;
  cursor: url("./assests/cursor.png")  8 8,
  auto;
}

.button-login:hover {
  background-color: #b06f6fbc;
  transition: 0.25s ease;
  cursor: url("./assests/cursor.png")  8 8,
  auto;
}

.login-line{
  border: 1px solid #bfbfbf;
}

.login-inputs{
  font-family: "Cormorant", serif;
  font-size: 1.25rem;
}

/* Start of the index page styles */
.recipe-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  padding-left: 7rem;
}

.search-bar{
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}

.search-bar-input{
  width: 30rem;
  text-align: center;
  font-size: large;
  border: 1px solid #bfbfbf;
}

.veg-option{
  font-size: larger;
  font-family:"Cormorant", serif;
}

.recipe-card{
  width: 300px;
  height: 350px;
  margin-right: 5rem;
  margin-top: 10rem;
  text-align: center;
  background-color: rgb(255, 255, 202);
  border-top: 3px solid rgb(255, 255, 202);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.25s ease-in-out;
}

.recipe-card:hover{
  transform: scale(1.1) ;
}


.recipe-title{
font-family:  "Cormorant", serif;
color: rgb(119, 119, 119);
font-size: 25px;
}

.link-button-container{
  display: flex;
  justify-content: center;
  background-color:rgb(255, 255, 202);
  margin-top: 5px;
  border-bottom: 4px solid rgb(255, 255, 202);
  border-top: 4px solid rgb(255, 255, 202);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-index{
  color: #b06f6f;
  text-align: center;
  margin-top: 5rem;
  font-size: 7rem;
  font-family:  "Cormorant", serif;
}

.Yum-index{
  color: #E8D000;
}
/* Start of styling for portected Index Page*/

.button-protected{
  height: 2rem;
  width: 7rem;
  font-size: 14px;
  font-family: "Cormorant", serif;
  font-weight: bolder;
  background-color:#fff59e;
  color:rgba(0, 0, 0, 0.811);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

.button-protected:hover {
  background-color: #fff59ec1;
  transition: 0.25s ease;
}

.link-button-container-protected{
  display: flex;
  justify-content: center;
  padding-top: 2px;
  height: 3rem;
  margin-top: 5px;
}

.header-pro-index{
  color: #b06f6f;
  text-align: center;
  margin-top: 5rem;
  font-size: 7rem;
  font-family:  "Cormorant", serif;
  margin-left: 1.5rem;
}

.recipe-protected-title{
  font-family:  "Cormorant", serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 27px;
}

.recipe-card-protected{
  width: 400px;
  height: 450px;
  margin-right: 3rem;
  margin-top: 10rem;
  text-align: center;
  background-color: rgba(57, 57, 57, 0);
  border-top: 3px solid rgba(57, 57, 57, 0);
  transition: transform 0.25s ease-in-out;
  opacity: .7;
}

.recipe-card-protected:hover{
  transform: scale(1.1) ;
  transition: .25s ease-in-out;
  opacity: 1.0;
}
 
.card-image-protected{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Start of styles for sign up */

  .sign-up-container{
    display: flex;
    justify-content: center;
  }

  .sign-up{
    margin: 2rem;

    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35rem;
    width: 40rem;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .form-row{
    font-family:"Cormorant", serif; 
    font-size: 1.5rem;
  }

  .form-row-placeholder{
    font-size: 1.25rem;
  }

  /* Start of Intro Page styles */

  .intro-page{
    height: 60rem;
    border: 2px solid black;
  }

  .intro-background{
    height: 30rem;
    border: 2px solid black;
  }


  /* start of styling for NOT FOUND */

  .container-not-found{
    display: flex;
    justify-content: center;
    width:100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


  .picture-container-nf{
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .notfound-header{
    text-align: center;
    margin-top: -10rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 150px;
  }