body {
  background-color: #eeeeee;
}

img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Start of the styling for About Us page */

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(2){
  background-color:rgba(18, 17, 17, 0.811);
  color: rgba(221, 221, 2, 0.877);
}
section:nth-child(3){
  background-color:rgb(122, 148, 122);
}

section:nth-child(4){
  background-color:rgba(164, 152, 168, 0.932);
}
section:nth-child(5){
  background-color:#9e6262;
}
section:nth-child(6){
  background-color:rgba(57, 57, 57, 0.811);
}

section .container{
  margin: 100px
}

section h1{
  font-size: 80px;
  font-family:"Cormorant", serif; 
}
section h2{
  font-size: 65px;
  text-align: center;
  font-family:"Cormorant", serif; 
  color: black;
  text-transform: uppercase;
}

section .cards{
  display: flex;
}

section .cards .text-card{
  background: #b06f6f00;
  font-family:"Cormorant", serif; 
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  margin-left: 14rem;
  

}
section .cards .text-card h3{
  font-size: 30px ;
  text-align: center ;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
      font-size: 40px;
    }
    section .cards{
      flex-direction: column;
    }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

/* Start of the styling for Footer*/
.footer-styles {
  text-align: center;
  font-size: 1rem;
  font-size: larger;
  line-height: 2rem;
}

/* Start of the styling for Show page*/
.picture-section-container {
  height: 55rem;
}
.picture-section {
  /* border: 10px solid #BFBFBF; */
  height: 40rem;
  width: 40rem;
  margin: 0 auto;
  background-color: #b06f6f;
  margin-top: -40px;
  margin-left: 13rem;
  margin-bottom: 5rem;
  display: inline-block;
  text-align: right;
}

.details-section {
  text-align: center;
  font-size: 2rem;
  font-family: "Cormorant", serif;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: none;
}

.time-section {
  text-align: center;
  /* border: 5px solid #BFBFBF; */
  width: 15rem;
  height: 8rem;
  font-family: "Cormorant", serif;
  margin: 0 auto;
  background-color: aliceblue;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  display: inline-block;
}

.show-buttons {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin-bottom: 5rem;
}
.button {
  height: 3rem;
  width: 8rem;
  font-size: 16px;
  font-family: "Cormorant", serif;
  font-weight: bolder;
  background-color: #b06f6f;
  border: none;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover {
  cursor: pointer;
  background-color: #b06f6fbc;
  transition: 0.25s;
}

.ingredients-section {
  align-items: center;
  text-align: left;
  padding-left: 2rem;
  font-family: "Cormorant", serif;
  /* border: 1px solid #BFBFBF; */
  width: 25rem;
  height: 40rem;
  margin: 0 auto;
  margin-left: 5rem;
  margin-top: none;
  display: inline-block;
  font-size: 20px;
}

.instructions-section {
  align-items: center;
  padding-left: 2rem;
  border: 0.75px solid #bfbfbf;
  font-family: "Cormorant", serif;
  font-size: 20px;
  width: 65rem;
  height: 30rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
}

#headers-show {
  font-size: 30px;
  margin-top: none;
}
